@keyframes typed {
    0% {
        content: "";
    }

    1.79% {
        content: "d";
    }

    3.57% {
        content: "De";
    }

    5.36% {
        content: "Des";
    }

    7.14% {
        content: "Desi";
    }

    8.93% {
        content: "Desig";
    }

    10.71% {
        content: "Design";
    }

    12.50% {
        content: "Designe";
    }

    14.29% {
        content: "Designer";
    }

    16.07% {
        content: "Designe";
    }

    17.86% {
        content: "Design";
    }

    19.64% {
        content: "Desig";
    }

    21.43% {
        content: "Desi";
    }

    23.21% {
        content: "Des";
    }

    25.00% {
        content: "De";
    }

    26.79% {
        content: "Dev";
    }

    28.57% {
        content: "Deve";
    }

    30.36% {
        content: "Devel";
    }

    32.14% {
        content: "Develo";
    }

    33.93% {
        content: "Develop";
    }

    35.71% {
        content: "Develope";
    }

    37.50% {
        content: "Developer";
    }

    39.29% {
        content: "Develope";
    }

    41.07% {
        content: "Develop";
    }

    42.86% {
        content: "Develo";
    }

    44.64% {
        content: "Devel";
    }

    46.43% {
        content: "Deve";
    }

    48.21% {
        content: "Dev";
    }

    50.00% {
        content: "De";
    }

    51.79% {
        content: "D";
    }

    53.57% {
        content: "";
    }

    55.36% {
        content: "L";
    }

    57.14% {
        content: "La";
    }

    58.93% {
        content: "Lar";
    }

    60.71% {
        content: "Larr";
    }

    62.50% {
        content: "Larry";
    }

    64.29% {
        content: "Larry D";
    }

    66.07% {
        content: "Larry Da";
    }

    67.86% {
        content: "Larry Dan";
    }

    69.64% {
        content: "Larry Dani";
    }

    71.43% {
        content: "Larry Danie";
    }

    73.21% {
        content: "Larry Daniel";
    }

    75.00% {
        content: "Larry Daniels";
    }

    76.79% {
        content: "Larry Daniel";
    }

    78.57% {
        content: "Larry Danie";
    }

    80.36% {
        content: "Larry Dani";
    }

    82.14% {
        content: "Larry Dan";
    }

    83.93% {
        content: "Larry Da";
    }

    85.71% {
        content: "Larry D";
    }

    87.50% {
        content: "Larry";
    }

    89.29% {
        content: "Larr";
    }

    91.07% {
        content: "Lar";
    }

    92.86% {
        content: "La";
    }

    94.64% {
        content: "L";
    }

    96.43% {
        content: "";
    }

    98.21% {
        content: "";
    }

    100% {
        content: "";
    }
}